@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --HEADER-BG: rgb(30, 30, 37);
    --HEADER-COLOR: #fff;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
}

header {
    background: var(--HEADER-BG);
    color: var(--HEADER-COLOR);
}

.header-title-line {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
}

.menu-button {
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--HEADER-COLOR);
    
    position: absolute;
    transition: all ease-in-out 0.5s;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-20px, -12px);
}

.menu-icon::after {
    transform: translate(-20px, 12px);
}

nav {
    display: none;
    background: var(--HEADER-BG);
}

:is(header:hover, header:focus-within) .menu-icon {
    background: transparent;
    transform: rotate(-720deg);
}

:is(header:hover, header:focus-within) .menu-icon::before {
    transform: translate(-20px) rotate(-45deg)
}

:is(header:hover, header:focus-within) .menu-icon::after {
    transform: translate(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) nav {
    display: block;
    animation: showMenu 0.5s ease-in-out forwards;
    transform-origin: bottom;
}

nav ul {
    display: flex;
    flex-flow: column nowrap;
}

nav li {
    padding: 0.75rem;
    border-top: 1px solid var(--HEADER-COLOR)
}

nav a {
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
}

nav a:any-link {
    color: var(--HEADER-COLOR);
    text-decoration: none;
    font-weight: bolder;
}

nav a:any-link:hover {
    transform: scale(1.2);
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}