* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BG: rgb(14, 14, 53);
    --MAIN-BG: radial-gradient(rgb(88, 88, 189), rgb(11, 36, 82));
    --PADDING: 0.5rem;
    --FS: clamp(1.25rem, 3vh, 2.25rem);
    --FS-SM: clamp(1rem, 3vh, 2.25rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --BG: rgb(10, 10, 10);
        --MAIN-BG: radial-gradient(rgb(55, 55, 58), rgb(16, 21, 31));
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--BG);
    color: white;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

p {
    margin-top: 0.75rem;
}

header, footer {
    padding: var(--PADDING);
    width: 100%;
    text-align: center;
    display: block;
    position: sticky;
}

header {
    top: 0;
}

main {
    background: var(--MAIN-BG);
    flex-grow: 1;
    font-size: var(--FS-SM);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

main section {
    padding: var(--PADDING);
}

main aside {
    background: rgb(27, 27, 48);
    padding: var(--PADDING);
}

.tooltip {
    position: relative;
    border-bottom: 1px solid gold;
}

.tooltip:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px;
    background: #000;
    border-radius: 10px;
    white-space: nowrap;
    padding: var(--PADDING);
}

footer {
    bottom: 0;
}

@media screen and (min-width: 530px) {
    main {
        flex-flow: row;
        font-size: var(--FS);
    }

    main section {
        width: calc(70% - 5px);
    }

    main aside {
        width: calc(30% - 5px);
    }
}